/*GLOBAL*/
*{
    margin: 0;
    padding: 0;
}

h1{
  text-align: center;
}

/*RESPONSIVE*/  
/*IMG*/
.DHLimg{
    max-width: 100%;
    height: auto;
    padding-top: 50px;
}
/*NAVBAR*/

.tixpla{
  width: 150px;
  height: 100px;
}

.navbar{
   z-index: 2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 196, 4);
    top: 0;
    width: 100%;
    position: fixed;
  }
  ul{
      float: left;
  }
  
  ul a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-decoration: none;
  }
/*QUEM SOMOS*/
.quemsomos{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.p1{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/*SERVIÇOS*/
/*FOOTER*/
#Contactos{
  background-color: rgb(219, 219, 219)
}

.location{
  width: 50px;
  height: auto;
}

.call{
  width: 50px;
  height: auto;
}

.email{
  width: 50px;
  height: auto;
}